@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Grandstander";
  src: url("../public/fonts/Grandstander/Grandstander-VariableFont_wght.ttf");
}

@keyframes pulse-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.animate-pulse-scale {
  animation: pulse-scale 2s ease-in-out infinite;
}
